h2 {
	font-weight: 400;
	color: #444;
	padding-bottom: 15px;
	font-size: 22px;
}

.RComponent {
	width: 50%;
	padding: 35px 0;
	box-sizing: border-box;
}

.RComponent__body {
	width: 90%;
	background-color: #fafafa;
	border-radius: 5px;
	padding: 25px;
	box-sizing: border-box;
}
