button {
	width: 120px;
	background-color: #1e46c9;
	padding: 12px;
	box-sizing: border-box;
	color: #fafafa;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	transition: all 0.3s;
}

button:hover {
	box-shadow: 1px 1px 6px #1f3fa8;
}
