.Input {
	margin-bottom: 12px;
}

.Input input {
	width: 100%;
	outline: none;
	font-size: 14px;
	padding: 7px 10px;
	box-sizing: border-box;
	margin-bottom: 3px;
	background-color: #fff;
	border: 1px solid #eee;
	border-radius: 5px;
	box-shadow: 0 0 2px #eee;
}

.Input input:focus {
	border: 1px solid #ddd;
	box-shadow: 0 1px 5px #ddd;
}

.Input input.Invalid {
	border: 1px solid red;
	box-shadow: 0 0 2px salmon;
}

.InvalidText {
	font-size: 13px;
	color: salmon;
}
